*{

	margin: 0px;
	padding: 0px;

}
.container {
	width: 1140px;
	margin: 0 auto;
}

.header {
	width: 100%;
    float: left; 
    padding: 15px 0px;
}



.logo {
	width: 20%;
    float: left; 
    
}
.logo img {
  width: 50px;
  display: block;

}

.manu {
	width: 50%;
    float: left; 
   background: darkgray;
}
nav ul {
 list-style: none;
 
}
nav ul li {
  display: inline-block;
  margin: 16px 50px;
}
nav ul li a {
  text-decoration: none;

}
 .icon {
	width: 30%;
    float: left; 
    }
  .icon img {
       	width: 20px;
       	display: block;
                     }

 
}
.icon ul {
 list-style: none;
}
.icon ul li {
 
display: inline-block;
  margin: 16px 30px;
}

.icon ul li a {
	text-decoration: none;

}


/* Header Part End */

.banner {
 background: url(../img/ba.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 float: left;
 padding: 55px 0px;
}
.banner-main {
  width: 500px;
  padding: 50px;
  background-color: rgb(0,0,0,0.4); 
}
.banner-main h2{
 color: white;
 padding: 50px;
 text-align: center;
 font-size: 40px;
 text-transform: uppercase;

}
.banner-main p{
	text-align: center;
color: white;
padding: 10px 0px;
}
.banner-main ul{
 
}
.banner-main ul li{
display: inline-block;
padding: 10px 100px;
}
.banner-main ul li a{

}